<div class="NO">
  <%= image_tag "undraw_a_day_off_w9ex.png", width: 300, class: "hate" %>
  <h1 class = "help"> It looks like you haven't booked any Parkings</h1>
  <%= link_to 'Book a new parking', new_booking_path%>
</div>
