// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { background-color: #FF4500;}

div.field {
  margin: 10px;
  display: block;

}

div.form {
  background-color: #FF4500;
}

div.actions {
  margin:10px;
  padding: 1000px;
}

form label, form input {
  display: block;
  margin: 10px;
}

form submit {

}
h5.emailHeader {
  color: #FFFFFF;
}
